:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #b3b3b3;
    --required-color: #f33a58;
    --table-border-color: #dee2e6;
    --box-shadow-color: rgba(51, 62, 73, 0.1);
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

html {
    color: var(--text-color);
}

.main {
    background-color: #f1f1f1;
    padding-top: 20px;
}

.form {
    width: 360px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 var(--box-shadow-color);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;
}

form > h3 {
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
}

form > .desc {
    text-align: center;
    font-weight: 300;
    color: #636d77;
    font-size: 17px;
}

.spacer {
    border-top: 1px solid var(--text-color);
    text-align: center;
    margin: 20px 0px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-label {
    font-weight: 700;
    margin-bottom: 6px;
}

.form-control {
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: 1px solid var(--border-color);
    padding: 5px 12px;
    font-size: 14px;
    outline: none;
}

.form-wrap {
    display: flex;
    justify-content: space-around;
}

.form-item {
    display: flex;
    align-items: center;
}

.form-item label {
    padding-left: 6px;
    font-size: 14px;
}

.form-group > textarea {
    border-radius: 3px;
    border: 1px solid var(--border-color);
    padding: 5px 12px;
    font-size: 14px;
    outline: none;
    resize: none;
}

.group-btn {
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}

.btn {
    outline: none;
    border: none;
    width: 40%;
    padding: 12px 16px;
    font-weight: 600;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
}

.btn-active {
    background-color: #1dbfaf;
    color: var(--white-color);
}

.btn-inactive {
    pointer-events: none;
    opacity: 0.5;
}

.data {
    border-radius: 5px;
    padding: 20px;
}

.data > h2 {
    text-align: center;
    margin-bottom: 10px;
}

.table {
    margin: auto;
    border-collapse: collapse;
    background-color: var(--white-color);
    box-shadow: 0 2px 5px 0 var(--box-shadow-color);
}

.table-bordered {
    border: 1px solid var(--table-border-color);
}

.table-bordered td,
.table-bordered th {
    border: 1px solid var(--table-border-color);
}

.table td,
.table th {
    padding: 10px;
}

.table th {
    padding: 10px;
    border-bottom: 2px solid var(--table-border-color);
    border-top: 1px solid var(--table-border-color);
    text-align: left;
}

.avatar {
    height: 50px;
}

.avatar img {
    width: 50px;
}

.form-message {
    text-align: left;
    font-size: 12px;
    padding: 4px 0 0;
}

.form-group.invalid .form-message {
    color: var(--required-color);
}

.label-required {
    position: relative;
}

.label-required::after {
    content: "*";
    position: absolute;
    color: var(--required-color);
    top: -3px;
    width: 10px;
    text-align: right;
}

.btn-control {
    outline: none;
    border: none;
    padding: 12px 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}
